.app-container {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  display: block;
  /* margin-top: -20px; */
  justify-content: center;
  align-items: center;
  /* padding: 15px;
  padding-top: 3px; */
}

.app-title {
  /* margin-top: 20px; */
  color:aliceblue;
  margin-top: 0px;
  font-size: 40px;
  /* align-items: center; */
  justify-content: center;
}

/* @media (min-width: 900px) {
  .app-container {
    background-image: url('./images/mobile.jpeg');
    
  }
} */